{erl_opts, [debug_info]}.
{deps, [
	erlang_color,
	{osc, 
	 {
	  git, "https://github.com/erlsci/osc", {
		 branch, "release/2.2.x"
		}
	 }
	},
	{sc,
	 {
	  git, "https://github.com/rexmalebka/sc_erl",{
		 branch, "main"
		}
	 }
	}

       ]}.

{shell, [
	 % {config, "config/sys.config"},
	 {apps, [scotp]}
	]}.
